.contacts {
  &__wrapper {
    @include page-grid;
  }

  &__element {
    grid-column: 1 / span 2;

    @include on-tablet {
      grid-column: 1 / span 3;
    }

    @include on-desktop {
      grid-column: 1 / span 5;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__info {
    grid-column: 1 / span 2;

    @include on-tablet {
      grid-column: 4 / span 3;
    }

    @include on-desktop {
      grid-column: 8 / span 4;
    }
  }

  &__form-input,
  &__form-textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 14px 16px;
    border-radius: 40px;
    border: none;
    outline: none;
  }

  &__form-textarea {
    height: 148px;
    border-radius: 16px;
    resize: none;
    overflow-y: hidden;
    margin-bottom: 16px;
    padding: 14px 16px;
    align-items: center;
    background: $bg-color-input;
  }

  &__form-button {
    width: auto;
    margin-bottom: 48px;
    padding: 14.5px;
    border-radius: 40px;
    background: $bg-color-light;
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      margin-bottom: 0;
    }

    transition:
      transform $effect-duration ease,
      box-shadow $effect-duration ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 24px rgba(255, 233, 233, 0.5);
    }
  }

  &__form-input::placeholder,
  &__form-textarea::placeholder {
    font-size: 14px;
    color: $text-color-placeholder;
    font-family: $main-font;
  }

  &__title {
    color: $text-color-light;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__description {
    color: $text-color-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 24px;
  }
}
