.footer {
  position: relative;
  z-index: -1;

  &__bg {
    height: 200px;
    background-size: cover;
    background-image: url(/src/images/footer-bg.png);

    @include on-tablet {
      height: 480px;
    }

    @include on-desktop {
      height: 555px;
    }
  }
}
