.page {
  font-family: $main-font;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: $mobile-min-width;
  }

  &__menu {
    position: fixed;
    inset: 0;
    height: 100vh;

    z-index: 1000;

    opacity: 0;
    transition: all $effect-duration;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      overflow: hidden;
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
