.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  @include on-desktop {
    padding-block: 60px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  .icon--phone {
    position: relative;
  }

  .icon--phone .icon__phone-number {
    position: absolute;
    top: 50%;
    left: 100%;

    transform: translateY(-50%) translateX(-160px);
    opacity: 0;

    white-space: nowrap;
    margin-left: 12px;
    padding: 6px 12px;

    color: $text-color-light;
    font-size: 12px;
    font-weight: 700;
    font-family: $main-font;
    letter-spacing: 2px;
    line-height: 16px;

    pointer-events: none;

    transition:
      transform $effect-duration ease,
      opacity $effect-duration ease;
  }

  .icon--phone:hover .icon__phone-number {
    transform: translateY(-50%) translateX(-210px);
    opacity: 1;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
}
