$mobile-min-width: 320px;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-font: Poppins, sans-serif;

$text-color-dark: #1d1d1d;
$text-color-mid: #292929;
$text-color-light: #fff;
$text-color-placeholder: #7e7e83;

$bg-color-dark: #1d1d1d;
$bg-color-light: #fff;
$bg-color-input: #f8f8fa;
$bg-color-menu: #c2c2c2;

$effect-duration: 0.3s;

$custom-cursor: url("../../images/cursor.png"), pointer;
