$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.3s;
$main-font: Poppins, sans-serif;
$text-color-dark: #1d1d1d;
$text-color-light: #fff;
$text-color-placeholder: #7e7e83;
$bg-color-dark: #1d1d1d;
$bg-color-light: #fff;
$bg-color-input: #f8f8fa;
